@value primaryColor from "../../constants/colors.css";
@value secondaryFontStyle from "../../constants/typography.css";

@import 'normalize-css/normalize.css';

.container {
  composes: container from "../../constants/base.css";
}

body {
  font-family: secondaryFontStyle;
  font-size: responsive .8em 1.1em;
  margin: 0 auto;
  background: #f0f2fa;
  color: primaryColor;
  line-height: 1.37;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
}