@value primaryColor from "../../constants/colors.css";
@value primaryFontStyle, secondaryFontStyle from "../../constants/typography.css";

.wrapper {
  background-color: primaryColor;
}

.container {
  composes: container from "../../constants/base.css";
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ffffff;
  transition: padding 1000ms ease-out-circ;
}

@media (min-width: 700px) {
  .header {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

.title {
  font-family: primaryFontStyle;
  font-size: responsive 1.4em 2.5em;
  font-weight: 300;
  margin: 0px;
  text-transform: uppercase;
  letter-spacing: .03em;
  transition: font-size 1000ms ease-out-circ;
}

.sub {
  margin: 0px;
  composes: pageTitle from "../../constants/base.css";
  font-family: secondaryFontStyle;
  color: #ffffff;
}

