@value primaryColor from "./colors.css";
@value primaryFontStyle from "./typography.css";

.pageTitle {
  font-family: primaryFontStyle;
  font-size: responsive 1.1em 1.6em;
  color: primaryColor;
  margin-top: 1em;
  margin-bottom: 1em;
}