@value medium as bp-medium from "../../../../constants/breakpoints.css";

.container {
  composes: container from "../../../../constants/base.css";
  text-align: center;
}

.pageTitle {
  composes: pageTitle from "../../../../constants/base.css";
}

@media bp-medium {
  .lead {
    font-size: 1.2em;
    line-height: 1.6;
  }
}